/* app css stylesheet */
.green {
  background-color: #99ff66;
}

.yellow {
  background-color: #ffcc00;
}

.taglist {
  display: inline;
}

.taglist li {
  display: inline; 
  list-style-type: none;
  padding-right: 3px;
}
