/* app css stylesheet */

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  margin-top: 10px;
}

#head_row {
  margin-bottom: 10px;
}
/*
#back_to_top {
  z-index: 2;
  position: fixed;
}
  */
#import {
  margin-top: 20px;
}

.white {
  background-color: #FFFFFF;
}
.moccasin {
  background-color: #FFE4B5;
}
.pink {
  background-color: #FFC0CB;
}
.coral {
  background-color: #FF7F50;
}
.khaki {
  background-color: #F0E68C;
}
.tan {
  background-color: #D2B48C;
}
.lightblue {
  background-color: #ADD8E6;
}
.yellowgreen {
  background-color: #9ACD32;
}
.orchid {
  background-color: #DA70D6;
}
.orange {
  background-color: #FFA500;
}
.limegreen {
  background-color: #32CD32;
}


.verse_tags {
  display: inline;
  margin-left: 1px;
}

.verse_tags li {
  display: inline; 
  list-style-type: none;
  padding-right: 3px;
}

.taglist li {
  padding-bottom: 3px;
}

.verse_content {
  line-height: 130%;
}

.move {
  cursor: move;
}

.pointer {
  cursor: pointer;
}
