<div class="row">
  <div class="span12">
    <p>Verses Memorization helps you to memorize Bible verses by typing. May your heart and mind be filled with God's words, which you can put to good use in time of need.</p>
    <p><strong>How to get started?</strong><br />
    Input your own favorite verses which you want to memorize.<br />
    Click the right arrow next to a verse reference, and start to type the content of the verse.<br/>
    Hint: if you want to review the verse content while you type, you can click the left arrow next to the verse.
    </p>
    <p><strong>How to edit the reference and content of verses and tag names I input?</strong><br />
      Double click on it. After you make a change, double click on the content to save the change.
    </p>
    <p><strong>How to add a tag to a verse?</strong><br />
      Drag a tag to a verse.
    </p>
    <p><strong>What browsers can this app run in?</strong><br />
      Any modern browsers that support HTML5.
    </p>
    <p><strong>Can this app work offline?</strong><br />
      Yes. It doesn't need internet connection once it loaded. However, it cannot auto load ESV when input new verse.
    </p>
    <p><strong>Where is ESV got loaded from?</strong><br />
      Scripture taken from The Holy Bible, English Standard Version. Copyright &copy;2001 by <a href="http://www.crosswaybibles.org">Crossway Bibles</a>, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. Text provided by the <a href="http://www.gnpcb.org/esv/share/services/">Crossway Bibles Web Service</a>.  
    </p>
    <p><strong>Will it have other versions of Bible auto loaded?</strong><br />
      When other versions of Bible have their public API available. Please let Johann know if you find them.
    </p>
    <p><strong>Where is the data stored?</strong><br />
      The data you input is stored completely in your local browser. The data persists as long as you do not clear your browser's localStorage memory. 
    </p>
    <p><strong>How much data can it stored?</strong><br />
      As much as the localStorage of your browser allows. Usually 5MB in a modern browser.
    </p>
    <p><strong>Does the app automatically sync data across browsers?</strong><br />
      No, since the data is not stored in server. It's up to you to backup your data. You can manually sync data across other browsers.
    </p>
    <p><strong>How to manually sync data across browsers?</strong><br />
      You can export data and download it to your local desktop, namely <em>verses.txt</em> and <em>tags.txt</em> (You can store these two files in some cloud service, such as dropbox). Then you can import them into a new browser. Be careful, the imported data will replace the current data of the new browser, so make sure that the data you are about to import is the most recent data.
    </p>
    <p><strong>What architect does this app use?</strong><br />
    Client-side HTML5, CSS and Javascript. It's a single page app built with framework <a href="http://angularjs.org">Angularjs</a>, <a href="http://jquery.com">jQuery</a> and <a href="http://twitter.github.com/bootstrap/index.html">Twiitter Bootstrap</a>. It uses <a href="http://www.sinatrarb.com">Sinatra</a> as a simple backend web server. Icons from <a href="http://glyphicons.com">Glyphicons Free</a> For source code of the app, please go to <a href="https://github.com/johannchen/verses">Github</a>.
    </p>
    <p><strong>Who has developed this app?</strong><br />
    Verses Memorization is developed by Johann Chen. He is available as a freelancer to work on any web application project using HTML5, Javascript and <a href="http://rubyonrails.org">Ruby on Rails</a>. He is passionate about writing web applications for churches or for any good cause. He along with his wife and two years old daughter are involved in medical missions overseas through Samaritan's Purse. If you would like to know about their ministry, please email Johann at johannchen @ gmail.com. Also if you are led by the Spirit to support them financially, you can make donations to their project account at Samaritan's Purse <a href="https://www.samaritanspurse.org/index.php/giving/wmm_doctors">https://www.samaritanspurse.org/index.php/giving/wmm_doctors</a> (please search for “Chen, Mei-lin and Johann”).
    </p>
    <p>
      If you have any feedback about the applicaiton, please email johannchen @ gmail.com directly. Hope you find this applicaiton helpful, and God bless you!
    </p>
  </div>
</div>
