<div class="container" >
	<div class="row">
		<div ng-controller="NewVerseCtrl">
			<div class="span4 thumbnail">
				<form ng-submit="addVerse()">
					<div class="ui-widget">
						<input type="text" class="span3" ng-model="verseTitle" placeholder="verse title" bible-autocomplete>
					</div>
					<hr />
					<textarea rows="5" class="input-xlarge"  ng-model="verseContent" placeholder="verse content"></textarea><br />
					<input type="submit" class="btn-primary" value="Add Verse">
				</form>
			</div>
		</div>
	</div>
</div>

